<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ptteng.academy.persistence.mapper.ModuleMapper">
    <select id="findModuleByName" resultType="moduleDto"
            parameterType="moduleQuery">
        SELECT mo.id, mo.name, mo.parent_id, mo.module_url, mo.create_at,
        mo.create_by FROM module mo WHERE 1 = 1
        <if test="moduleName !='' and moduleName!=null ">
            AND mo.name = #{moduleName}
        </if>
        <if test="id !=0 and id!=null ">
            AND mo.id = #{id}
        </if>
        ORDER BY mo.id ASC
    </select>
</mapper>

