<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ptteng.academy.persistence.mapper.StudyMapper">
    <!--数组下标 #{a[0]} -->
    <select id="findPageBreakByCondition" parameterType="studyQuery"
            resultType="studyDto">
        SELECT * FROM (
        SELECT
        s.id, s.classify, s.content, s.cover_plan_url, s.create_at, s.create_by,
        s.grade,
        s.introduce, s.status, s.study_type, s.subject, s.title, s.update_at,
        s.update_by,
        s.video_time, s.video_url, s.author,
        (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = s.id) AS
        praise,
        (SELECT COUNT(id) FROM study_user WHERE type = 2 AND study_id = s.id) AS
        collect,
        au.author_name, au.author_img
        FROM
        study s INNER JOIN author au ON s.author = au.id ) temp
        WHERE 1=1
        <if test="study_type==null">
            AND study_type = 99
        </if>
        <if test="study_type!=null">
            AND study_type = #{study_type}
            <if test="title!='' and title!=null">
                AND title LIKE '%${title}%'
            </if>
            <if test="author!='' and author!=null">
                AND author_name LIKE '%${author}%'
            </if>
            <if test="id!=0 and id!=null">
                AND id = #{id}
            </if>
            <if test="classify!=0 and classify!=null">
                AND classify = #{classify}
            </if>
            <if test="grade!=0 and grade!=null">
                AND grade = #{grade}
            </if>
            <if test="subject!=0 and subject!=null">
                AND subject = #{subject}
            </if>
            <if test="praise!=null">
                <if test="praise[0]!=0 and praise[0]!=null">
                    AND praise >= ${praise[0]}
                </if>
                <if test="praise[1]!=0 and praise[1]!=null">
                    AND ${praise[1]} >= praise
                </if>
            </if>
            <if test="collect!=null">
                <if test="collect[0]!=0 and collect[0]!=null">
                    AND collect >= ${collect[0]}
                </if>
                <if test="collect[1]!=0 and collect[1]!=null">
                    AND ${collect[1]} >= collect
                </if>
            </if>
            <if test="status!=null">
                AND status = #{status}
            </if>
        </if>
        order by update_at DESC
    </select>
    <update id="updateStatusById" parameterType="Long">
        UPDATE study s SET s.status = !s.status WHERE id = #{id}
    </update>

    <select id="findVideoByVideoQuery" parameterType="homeVideoQuery"
            resultType="homeVideoListDto">
        SELECT
        sd.id, sd.title, sd.`status`,
        (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = sd.id)
        AS praise,
        (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = sd.id
        AND user_id = #{stu_id}) AS praise_status,
        (SELECT COUNT(id) FROM study_user WHERE type = 2 AND study_id = sd.id)
        AS collect,
        (SELECT COUNT(id) FROM study_user WHERE type = 2 AND study_id = sd.id
        AND user_id = #{stu_id}) AS collect_status,
        sd.create_at, sd.introduce,
        sd.cover_plan_url, sd.video_time AS video_time,
        au.author_img, au.author_name
        FROM
        study sd
        inner join author au
        ON sd.author = au.id
        WHERE 1 = 1 AND sd.`status` = 1
        <if test="study_type==null">
            AND sd.study_type = 99
        </if>
        <if test="study_type!=null">
            AND sd.classify = 2 AND sd.study_type = #{study_type}
            <if test="grade!=0 and grade!=null">
                AND sd.grade = #{grade}
            </if>
            <if test="subject!=0 and subject!=null">
                AND sd.subject = #{subject}
            </if>
        </if>
        order by sd.update_at ASC
    </select>

    <select id="findBannerByQuery" parameterType="homeVideoQuery"
            resultType="homeBannerListDto">
        SELECT * FROM (
        SELECT
        sd.id, sd.cover_plan_url, sd.title, sd.study_type, sd.`status`, sd.classify,
        (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = sd.id)
        AS praise
        FROM
        study sd ) temp
        <!-- 只显示上架的 -->
        WHERE 1 = 1 AND `status` = 1
        <if test="study_type==null">
            AND study_type = 99
        </if>
        <if test="study_type!=null">
            AND study_type = #{study_type} AND classify = 1
            <if test="grade!=0 and grade!=null">
                AND grade = #{grade}
            </if>
            <if test="subject!=0 and subject!=null">
                AND subject = #{subject}
            </if>
        </if>
        <!-- 取点赞数最高的8条数据 -->
        order by praise DESC
    </select>

    <!-- 查询视频或文章详情 -->
    <select id="findStudyByQuery" resultType="homeVideoDto">
        SELECT
            st.id,
            st.title,
            st.`status`,
            st.create_at,
            au.author_name,
            st.introduce,
            st.video_url,
            st.video_time,
            st.cover_plan_url,
            st.content,
            (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = st.id) AS praise,
            (SELECT COUNT(id) FROM study_user WHERE type = 2 AND study_id = st.id) AS collect,
            IF (spraise_s.id != 0, 1, 0) AS praise_status,
            IF (scollect_s.id != 0, 1, 0) AS collect_status
            FROM
                study st
            LEFT OUTER JOIN author au ON au.id = st.author
            LEFT OUTER JOIN study_user spraise_s ON spraise_s.type = 1
                AND spraise_s.study_id = #{studyId}
                AND spraise_s.user_id = #{userId}
            LEFT OUTER JOIN study_user scollect_s ON scollect_s.type = 2
                AND scollect_s.user_id = #{userId}
                AND scollect_s.study_id = #{studyId}
        WHERE
          st.id = #{studyId} AND st.`status` = 1 AND st.study_type = #{studyType}
          GROUP BY
          st.id
    </select>

    <!-- 查询点赞记录 -->
    <select id="findPraiseCollectStatus" resultType="Boolean">
        SELECT IF (
                COUNT(study_id) > 0,
                1,
                0
            ) FROM study_user WHERE study_id = #{studyId} AND user_id = #{userId} AND type = #{type}
    </select>

    <!-- 视频点赞或收藏 -->
    <insert id="insertPraiseCollectStatus">
        INSERT INTO study_user(study_id,user_id,type,create_at) VALUES
        (#{studyId},#{userId},#{type},#{createAt})
    </insert>

    <!-- 取消视频点赞或收藏 -->
    <delete id="deletePraiseCollectStatus">
        DELETE FROM study_user WHERE study_id = #{studyId} AND user_id = #{userId} AND type = #{type}
    </delete>
    <!--查询banner文章列表-->
    <select id="findBannerArticleByQuery" resultType="HomeBannerListDto">
 SELECT * FROM (
        SELECT
        sd.id, sd.cover_plan_url, sd.title, sd.study_type, sd.`status`,
        (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = sd.id) AS praise
        FROM
        study sd ) temp
        WHERE 1 = 1 AND `status` = 1 AND study_type = 1 ORDER BY praise DESC  LIMIT #{num}
    </select>

    <select id="findArticleByQuery"
            resultType="com.ptteng.academy.business.dto.HomeArticleListDto">
       SELECT * FROM (
        SELECT
        s.id, s.classify, s.content, s.cover_plan_url, s.create_at, s.create_by, s.grade,
        s.introduce, s.status, s.study_type, s.subject, s.title, s.update_at, s.update_by,
        s.video_time, s.video_url, s.author,
        (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = s.id) AS praise,
        (SELECT COUNT(id) FROM study_user WHERE type = 2 AND study_id = s.id)  AS collect,
        au.author_name, au.author_img
        FROM
        study s INNER JOIN author au ON s.author = au.id ) temp
        WHERE study_type = 1 AND `status` = 1 order by update_at DESC
    </select>

    <select id="findCollectArticle"
            resultType="com.ptteng.academy.business.dto.StudentCollectArticleDto">
                       SELECT temp.*,study_user.user_id,study_user.study_id,study_user.type,study_user.create_at AS create_time FROM (SELECT
            st.id,
            st.title,
            st.create_at,
            st.introduce,
            au.author_name,
            st.cover_plan_url,
            (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = st.id) AS praise,
            (SELECT COUNT(id) FROM study_user WHERE type = 2 AND study_id = st.id) AS collect,
            IF (spraise_s.id != 0, 1, 0) AS praise_status,
            IF (scollect_s.id != 0, 1, 0) AS collect_status
            FROM
                study st
            LEFT OUTER JOIN author au ON au.id = st.author
            LEFT OUTER JOIN study_user spraise_s ON spraise_s.type = 1
                AND spraise_s.study_id = st.id
                AND spraise_s.user_id = #{id}
            LEFT OUTER JOIN study_user scollect_s ON scollect_s.type = 2
                AND scollect_s.user_id = #{id}
                AND scollect_s.study_id = st.id
        WHERE
           st.`status` = 1 AND st.study_type = 1
          GROUP BY
          st.id) temp,study_user WHERE temp.id = study_user.study_id AND study_user.user_id = #{id} AND study_user.type = 2 ORDER BY temp.create_at
			DESC
    </select>
    <select id="findCollectVideo"
            resultType="com.ptteng.academy.business.dto.HomeVideoDto">
 SELECT temp.*,study_user.user_id,study_user.study_id,study_user.type,study_user.create_at AS create_time FROM (SELECT
            st.id,
            st.title,
            st.create_at,
            au.author_name,
            au.author_img,
            st.introduce,
            st.video_url,
            st.video_time,
            st.cover_plan_url,
            (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = st.id) AS praise,
            (SELECT COUNT(id) FROM study_user WHERE type = 2 AND study_id = st.id) AS collect,
            IF (spraise_s.id != 0, 1, 0) AS praise_status,
            IF (scollect_s.id != 0, 1, 0) AS collect_status
            FROM
                study st
            LEFT OUTER JOIN author au ON au.id = st.author
            LEFT OUTER JOIN study_user spraise_s ON spraise_s.type = 1
                AND spraise_s.study_id = st.id
                AND spraise_s.user_id = #{id}
            LEFT OUTER JOIN study_user scollect_s ON scollect_s.type = 2
                AND scollect_s.user_id = #{id}
                AND scollect_s.study_id = st.id
        WHERE
           st.`status` = 1 AND st.study_type = 2
          GROUP BY
          st.id) temp,study_user WHERE temp.id = study_user.study_id AND study_user.user_id = #{id} AND study_user.type = 2 ORDER BY temp.create_at
			DESC
    </select>

    <select id="findCardArticleByQuery"
            resultType="com.ptteng.academy.business.dto.ArticleDetailsDto">
         SELECT
            st.id,
            st.title,
            st.create_at,
            au.author_name,
            st.content,
            (SELECT COUNT(id) FROM study_user WHERE type = 1 AND study_id = st.id) AS praise,
            (SELECT COUNT(id) FROM study_user WHERE type = 2 AND study_id = st.id) AS collect,
            IF (spraise_s.id != 0, 1, 0) AS praise_status,
            IF (scollect_s.id != 0, 1, 0) AS collect_status
            FROM
                study st
            LEFT OUTER JOIN author au ON au.id = st.author
            LEFT OUTER JOIN study_user spraise_s ON spraise_s.type = 1
                AND spraise_s.study_id = #{studyId}
                AND spraise_s.user_id = #{userId}
            LEFT OUTER JOIN study_user scollect_s ON scollect_s.type = 2
                AND scollect_s.user_id = #{userId}
                AND scollect_s.study_id =#{studyId}
        WHERE
          st.id = #{studyId} AND st.`status` = 1 AND st.study_type = 1
          GROUP BY
          st.id
    </select>
</mapper>
