<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ptteng.academy.persistence.mapper.UserMapper">
    <select id="findById" parameterType="Long" resultType="user">
        SELECT
        us.*
        FROM
        user us
        WHERE us.id = #{id}
    </select>

    <select id="findUser" parameterType="com.ptteng.academy.business.query.UserQuery"
            resultType="com.ptteng.academy.business.dto.UserBackDto">
        SELECT * FROM user
        WHERE 1 = 1
        <if test="id!=null">
            AND id = #{id}
        </if>
        <if test="nickName!=null">
            AND nick_name = #{nickName}
        </if>
        <if test="phone!=null">
            AND phone = #{phone}
        </if>
        <if test="email!=null">
            AND email = #{email}
        </if>
        <if test="bean!=null">
            <if test="bean[0]!=0 and bean[0]!=null">
                AND bean >= ${bean[0]}
            </if>
            <if test="bean[1]!=0 and bean[1]!=null">
                AND ${bean[1]} >= bean
            </if>
        </if>
        <if test="prefecture != null">
            AND prefecture = #{prefecture}
        </if>
        <if test="grade!=null and grade!=0 ">
            AND grade = #{grade}
        </if>
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>
</mapper>

