# 1984组 求学大作战后台服务 academy_canary_admin_web
# 核心配置
spring:
  application:
    name: academy-canary
# HTTP ENCODING
  http:
      multipart:
          max-file-size: 2MB
          max-request-size: 10MB
          enabled: true
          file-size-threshold: 0
      encoding:
          enabled: true
          charset: UTF-8
          force: true
  messages:
      encoding: UTF-8
  jmx:
      enabled: true
      default-domain: agentservice
  resources:
      chain:
          strategy:
              content:
                  enabled: true
                  paths: /**

server:
  session:
    timeout: 7200
  context-path: /a
  # HTTP请求和响应头的最大量, 以字节为单位, 默认值为4096, 超过此长度的部分不予处理, 一般为8k. 解决java.io.EOFException: null问题
  max-http-header-size: 8192
  # 请求是否允许X-Forwarded-*
  use-forward-headers: true
  compression:
    # 是否开启压缩，默认为false.
    enabled: true
    # 执行压缩的阈值，默认为2048
    min-response-size: 1024
    # 指定要压缩的MIME type，多个以逗号分隔.
    mime-types: text/plain,text/css,text/xml,text/javascript,application/json,application/javascript,application/xml,application/xml+rss,application/x-javascript,application/x-httpd-php,image/jpeg,image/gif,image/png
  tomcat:
    # 设定remote IP的header，如果remoteIpHeader有值，则设置为RemoteIpValve
    remote-ip-header: X-Forwarded-for
    # 设定Header包含的协议，通常是 X-Forwarded-Proto，如果remoteIpHeader有值，则将设置为RemoteIpValve.
    protocol-header: X-Forwarded-Proto
    # 设定http header使用的，用来覆盖原来port的value.
    port-header: X-Forwarded-Port
    # 设定URI的解码字符集.
    uri-encoding: UTF-8


# MyBatis
mybatis:
    # 多个包加 ,
    type-aliases-package: com.ptteng.academy.persistence.beans,com.ptteng.academy.business.dto,com.ptteng.academy.business.query
    mapper-locations: classpath:/mybatis/*.xml
# mapper
mapper:
    mappers:
        - com.ptteng.academy.plugin.BaseMapper
    not-empty: false
    identity: MYSQL
# pagehelper
pagehelper:
    helper-dialect: mysql
    reasonable: true
    support-methods-arguments: true
    params: count=countSql
banner:
    charset: UTF-8

canary:
  druid:
    # druid访问用户名（默认：test）
    username: test
    # druid访问密码（默认：test）
    password: test
    # druid访问地址（默认：/druid/*）
    servletPath: /druid/*
    # 启用重置功能（默认false）
    resetEnable: false
    # 白名单(非必填)， list
    allowIps[0]:
    # 黑名单(非必填)， list
    denyIps[0]:
  qiniu:
    access_key_id: S8HhVb1aRhnNkcnqssRCrntmbmNGkG8QhRtGZ1Jb
    access_key_secret: 9at-Gqm1JZlWLVUp3i2c6SYz-zzlAyGnm0nGRi6o
    bucket_name: image
    # 地区
    endpoint: zone0
    file_url: http://p9kpdscob.bkt.clouddn.com/
  alySMS:
    accessKeyId: LTAIiuyUHBMseaz5
    accessKeySecret: AotLoNPCSXfV6Dz7cCp5Do9exxKi7X
    signName: 石奥林
    templateCode: SMS_141605599
    product: Dysmsapi
    domain: dysmsapi.aliyuncs.com
    regionId: cn-hangzhou
    dateFormat: yyyyMMdd
    endpointName: cn-hangzhou

# 开启mysql sql 日志
logging:
  level:
    com.ptteng.academy.persistence.mapper: DEBUG

mail.apiUser: freak_lin_test_i0YI6o
mail.apiKey: 3B5fKXsatLvVSbcu
mail.sbject: 求学大作战


